* {
	outline: none;
}

.App {
  text-align: center;
}

.circle {
  width: 75%;
}

#timer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 200px;
  width: 200px;
}

#circleWrapper {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent;
}

#buttonWrapper {
  margin-top: 100px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent;
}

#timerRun {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  border: none;
}

*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}       

h1{
  font-size: 2em;
}

label {
  color: white;
}


.popup {
  visibility: hidden;
}

#button:hover ~ .popup,
input[type=number]:hover ~ .popup,
input[type=text]:hover ~ .popup,
.taskName:hover ~ .popup {
  visibility: visible;
  animation: fadein 1s;
}

.task {
  margin-bottom: 20px;
}

.App-header {
  background-color: #ed4338;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
